.case-item2 {
    box-shadow: 0 0 3pt 0 #d3d3d3;
}

.case-item2 {
    text-align: center;
    width: 168px;
}

/* For small screen */
@media only screen and (max-width: 640px) {
    .case-item2 {
        text-align: center;
        width: 160px;
    }
}