.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 2px solid #ff725e;
  width: 20%;
}

.img-center {
  width: 80%;
  margin: auto;
  display: block;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.text-total-case-landing-page,
.text-daily-case-landing-page {
  text-align: center;
}

.text-total-case-landing-page {
  margin-top: -2em;
}

.text-daily-case-landing-page {
  margin-top: 2em;
}

/* For small screen */
@media only screen and (max-width: 641px) {
  .text-total-case-landing-page {
    margin-top: 2em;
  }
}
