@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

.landing-page,
.tips-kesehatan-page,
.global-page,
.detail-province-page {
  padding: 2em 9em;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #ff725e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* TODO : Perbaiki responsifnya */

/* For small screen */
@media only screen and (max-width: 640px) {
  .landing-page,
  .tips-kesehatan-page,
  .global-page,
  .detail-province-page {
    padding: 0 1em;
  }
}
/* For medium screen */
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  .landing-page,
  .tips-kesehatan-page,
  .global-page,
  .detail-province-page {
    padding: 0 1em;
  }
}
