.svg-blob-landing-page svg {
  position: absolute;
  margin-left: -10em;
  margin-top: -4em;
}

.city-svg svg {
  position: absolute;
  top: 120px;
  height: 200px;
  width: 100%;
  z-index: -1;
}

/* For small screen */
@media only screen and (max-width: 640px) {
  .city-svg svg {
    position: absolute;
    top: 20px;
    height: 200px;
    width: 100%;
    z-index: -1;
  }
}
/* For medium screen */
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  .city-svg svg {
    position: absolute;
    top: 20px;
    height: 200px;
    width: 100%;
    z-index: -1;
  }
}
