.card-item {
    -webkit-box-shadow: 14px 24px 27px -1px rgba(66, 68, 90, 0.09);
    -moz-box-shadow: 14px 24px 27px -1px rgba(66, 68, 90, 0.09);
    box-shadow: 14px 24px 27px -1px rgba(66, 68, 90, 0.09);
}

.card-item-style {
    width: 340px; 
    height: 401px; 
    border-radius: 20px; 
    background-color: #FFE2E2;
}

.img-card-item-style {
    width: 200px;
}

/* For small screen */
@media only screen and (max-width: 640px) {
    .card-item-style {
        width: 300px; 
        height: 400px; 
    }

    .img-card-item-style {
        width: 155px;
        padding-bottom: 10px;
    }
}
  /* For medium screen */
@media only screen and (max-width: 1024px) and (min-width: 641px) {

}